div.card > div.right-corner {
	float: none;
	margin-left: 0;
	margin-bottom: 0;
}

div > img.map {
	height: auto;
	width: 100%;
	page-break-after: always;
}

div.assignment-box {
    border: 1px solid black;
    /* float: right; */
    width: 200px;
    padding: 10px;
    margin-bottom: 10px;
}